<div class="h-screen w-screen bg-white z-10 absolute top-0">
    <div class="h-full w-full flex items-center justify-evenly">
        <form class="w-2/5 h-4/5 border-2 border-secondary-500 rounded-lg flex flex-col items-center justify-center">
            <div>
                <input type="text" placeholder="Entrez votre login">
            </div>
            <div>
                <input type="password" placeholder="Entrez votre mot de passe">
            </div>
            <div>
                <input class="btn secondary" type="submit" value="Me connecter">
            </div>
            <div>
                <a class="link secondary" routerLink="/register">Pas de compte ? Cliquez ici pour en créer un</a>
            </div>
        </form>
        <div class="w-2/5 h-4/5 flex flex-col items-center justify-center ">
            <a routerLink="/">
                <img src="assets/images/taskLogin.png" alt="osef">
            </a>
        </div>
    </div>
</div>
