    <nav class="flex flex-row items-center justify-between">
        <div>
            <p>icon</p>
        </div>        
        <ul class="flex flex-row">
            <li><a routerLink="/">Accueil</a></li>
            <li><a routerLink="">Les tâches</a></li>
            <li><a routerLink="">Les catégories</a></li>
        </ul>
        <div class="flex flex-row items-center">
            <p>Bienvenue Jean-Eudes</p>
            <a class="btn primary" routerLink="/login">Se connecter</a>
            <button class="btn secondary">Se déconnecter</button>
        </div>

    </nav>

