<div class="h-screen w-screen bg-white z-10 absolute top-0">
    <div class="h-full w-full flex items-center justify-evenly">
        <form class="w-2/5 h-4/5 border-2 border-secondary-500 rounded-lg flex flex-col items-center justify-center" [formGroup]="registerForm">
            <div class="form-group">
                <input type="text" placeholder="Entrez votre nom" formControlName="lastname" [ngClass]="{invalid: !registerForm.get('lastname')?.valid && registerForm.get('lastname')?.touched}">

                <span *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.errors?.['required']">Ce champs est requis</span>

                <span *ngIf="registerForm.get('lastname')?.errors?.['maxlength']">Votre nom doit faire maximum 100 caractères</span>
                
                <span *ngIf="registerForm.get('lastname')?.errors?.['pattern']">Votre nom ne peut contenir que des lettres</span>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Entrez votre prénom" formControlName="firstname">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Entrez votre pseudo" formControlName="pseudo">
            </div>
            <div class="form-group">
                <input type="email" placeholder="Entrez votre email" formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Entrez votre mot de passe" formControlName="password">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirmez votre mot de passe"
                formControlName="confirmPassword">
            </div>
            <div class="form-group">
                <input class="btn secondary" type="submit" value="Créer mon compte">
            </div>
            <div class="form-group">
                <a class="link secondary" routerLink="/login">Déjà un compte ? Cliquez ici pour se connecter</a>
            </div>
        </form>
        <div class="w-2/5 h-4/5 flex flex-col items-center justify-center ">
            <a routerLink="/">
                <img src="assets/images/taskLogin.png" alt="osef">
            </a>
        </div>
    </div>
</div>
