<div class="content">
    <header class="w-full h-1/6 bg-secondary-100">
        <app-navbar></app-navbar>
    </header>
    <main class="w-full min-h-4/6">
        <router-outlet></router-outlet>    
    </main>
    <footer class="w-full h-1/6 bg-secondary-100">
        <app-footer></app-footer>    
    </footer>
</div>