/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


// Pour toutes balises existantes en html
@layer base {
   
    h1 {
        @apply text-secondary-700 text-xl hover:text-tertiary-700;
    }

    nav {
        li {
            @apply mx-3 text-lg;
        }
    }

    form {
        div {
            @apply w-full flex flex-col items-center
        }
    }

    input {
        @apply border border-primary-500 py-1 px-3 rounded-full h-12;

        &[type="text"],
        &[type="password"],
        &[type="email"] {
           @apply focus:outline outline-secondary-500 focus:border-none w-1/2 text-center;
           &:focus::placeholder {
             color: transparent;
           }
        }
        
    }
    
}

// Pour nos classes persos
@layer components {
    .link {
        &.secondary {
            @apply
            pb-2 
            border-b 
            text-primary-500
            border-secondary-500 hover:text-secondary-500 hover:border-primary-500
        }
    }
    .content {
        @apply w-screen h-screen;
    }
   
    .btn {
        @apply px-3 py-2 rounded-full;

        &.primary {
            @apply
            bg-primary-700
            text-primary-100
            border
            border-primary-700
            hover:bg-primary-100
            hover:text-primary-700
        }
        &.secondary {
            @apply bg-secondary-700 text-secondary-100
        }
        &.tertiary {
            @apply bg-tertiary-700 text-tertiary-100
        }
    }

    .invalid {
        @apply border border-2 border-purple-800
    }
    .form-group {
        @apply mb-2;
    }
    .error {
        @apply text-sm text-secondary-500;
    }
}